<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='manifest' href='manifest.json'>
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico'>
    <meta name='mobile-web-app-capable' content='yes'>
    <title>Trump Rolled</title>

    <meta property="og:url"           content="http://trumprolled.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Trump Rolled" />
    <meta property="og:description"   content="Prank call your friends about the 2016 Election" />
    <meta property="og:image"         content="http://trumprolled.com/background.png" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,600italic,400italic' rel='stylesheet' type='text/css'>

    <script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js'></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86782196-1', 'auto');
      ga('send', 'pageview');

    </script>
    <link rel='stylesheet' type='text/css' href='main.css' />
  </head>
  <!--<audio src='http://trumpsoundboard.com/sounds/the american dream is dead.mp3' loop autoplay />-->
  <body>
    <!-- Display a message if JS has been disabled on the browser. -->
    <noscript>If you're seeing this message, that means <strong>JavaScript has been disabled on your browser</strong>, please <strong>enable JS</strong> to make this app work.</noscript>

    <!-- The app hooks into this div -->
    <!--document.getElementById('dead');-->
    <audio id='dead' src='http://trumpsoundboard.com/sounds/the american dream is dead.mp3' autostart='false' preload='auto' ></audio>
    <div id='app'>
      <div class='container ta-c'>
        <img
          class='container-img'
          :src='headerImg'
        />

        <h1>Trump Rolled</h1>

        <div v-if='submitted' style='padding: 25px;'>
          <h3>Boom Shakalaka</h3>

          <h4 style="text-align: center; padding: 0 15px 20px 15px; margin: 0;">
            Give it a few minutes, and you should receive an email (if you put your email) with a recording
            of your friend's response.
          </h4>

          <div class='share-buttons'>
            <p style='padding: 10px 0;'>Like it? Give it a share!</p>

            <a class="fb-share-button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftrumprolled.com%2F&amp;src=sdkpreparse"></a>

            <a class='tw-share-button' target="_blank" href="https://twitter.com/home?status=Trump%20roll%20your%20friends%20%23MakeAPIsGreatAgain"></a>
          </div>

          <p>
            Crafted with &hearts; at <a target="_blank" href="http://stoplight.io/platform/scenarios">Stoplight</a>.
            Learn how this was <a target="_blank" href="https://medium.com/api-corner/trump-rolling-to-make-apis-great-again-a80678766564#.kr43a5fml">made</a>.
          </p>
        </div>
        <div v-else>
          <h4 style="text-align: center;padding: 0 15px;margin: 0;">
            Enter a phone number to prank (a friend), and email (your email) to send the recording to. Then Enjoy. Over and Over.
          </h4>

          <form>
            <input
              class='container-input'
              placeholder='phone number'
              v-model='phone'
              style="margin-bottom: 5px"
              :disabled='submitting'
            />

            <input
              class='container-input'
              type='email'
              placeholder='hillary@trump.com'
              v-model='email'
              :disabled='submitting'
            />

            <br>

            <div>
              <b>They Will Be Rick Rolled By:</b>
            </div>

            <br>

            <div class='container-radio'>
              <input type='radio' id='donald' value='donald' v-model='selected'>
              <label for='donald'>Donald</label>
            </div>

            <div class='container-radio'>
              <input type='radio' id='hillary' value='hillary' v-model='selected'>
              <label for='hillary'>Hillary</label>
            </div>

            <br>

            <button class='btn' @click='send' :disabled='submitting'>
              <span v-if='submitting'>Working...</span>
              <span v-else>Send It</span>
            </button>

            <div class='share-buttons'>
              <p style='padding: 10px 0;'>Like it? Give it a share!</p>

              <a class="fb-share-button" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftrumprolled.com%2F&amp;src=sdkpreparse"></a>

              <a class='tw-share-button' target="_blank" href="https://twitter.com/home?status=Trump%20roll%20your%20friends%20%23MakeAPIsGreatAgain"></a>
            </div>

            <p>
              Crafted with &hearts; at <a target="_blank" href="http://stoplight.io/platform/scenarios">Stoplight</a>.
              Learn how this was <a target="_blank" href="https://medium.com/api-corner/trump-rolling-to-make-apis-great-again-a80678766564#.kr43a5fml">made</a>.
            </p>
          </form>
          <div class='container-error' v-if='error'>{{error}}</div>
        </div>
      </div>
    </div>

    <script src='main.js'></script>
  </body>
</html>
