html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #333C4E;
  background-color: red;

  background: url(dead.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-img {
  max-width: 100%;
  width: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#app {
  top: 10%;
  width: 100%;
  max-width: 400px;
  margin: 5% auto 3% auto;
  background-color: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.75);
  text-align: center;
  border-radius: 2px;
}

.container {
  padding: 0 25px 25px;
}

.container form {
  text-align: left;
}

.container-input {
  display: block;
  padding: 10px;
  width: 100%;
}

.container button {
  display: block;
  font-size: 15px;
  color: white;
  background-color: rgb(74, 144, 226);
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
}

.btn:hover {
  background-color: rgba(74, 144, 226, 0.8);
}

.container p {
  padding: 10px 0;
  margin: 0;
}

.container-error {
  padding: 0 0 20px 0;
  color: red;
}

.container-radio input, .container-radio label, .btn {
  cursor: pointer;
}

.container-radio {
  padding: 5px 0;
}

.share-buttons {
  text-align: center;
  padding-top: 20px;
}

.tw-share-button, .fb-share-button {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin: 0 10px;
}

.fb-share-button {
  background-image: url(fb-share.ico);
}

.tw-share-button {
  background-image: url(tw-share.ico);
}

.ta-c {
  text-align: center;
}

.fw-b {
  font-weight: bold;
}

.sc-button {
  text-align: center;
  padding-top: 0px;
}

.sc-send-button {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 250px;
  cursor: pointer;
  margin: 0 5px;
}

.sc-send-button {
  background-image: url(cash-button-green.png);
}

.sc-b {
  font-weight: bold;
}